# --- Unity ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ll]ogs/
MemoryCaptures/
UserSettings/
.plastic/

# --- IDE ---
.idea/
.vs/
*.csproj
*.sln
*.unitypackage
*.userprefs

# --- Logs/DB ---
*.log
**/Logs/
db.json

# --- System ---
.DS_Store
Thumbs.db